.monaco {
    font-family: monaco, Consolas, "Lucida Console", monospace;
}

.cursive {
    font-family: "Brush Script MT", cursive;
}

.courier {
    font-family: "Lucida Console", "Courier New", monospace;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.luminari {
    font-family: "Luminari", fantasy;
}